estudo-api/.vscode
estudo-api/estudo-api/bin/
estudo-api/estudo-api/obj/
estudo-api/estudo-console/bin/
estudo-api/estudo-console/obj/
estudo-api/estudo-jwt/bin/
estudo-api/estudo-jwt/obj/
estudo-api/estudo-test/bin/
estudo-api/estudo-test/obj/
estudo-api/estudo-web/bin/
estudo-api/estudo-web/obj/
csvlab/.vscode
csvlab/BenchmarkDotNet.Artifacts
csvlab/bin
csvlab/obj